export GITHUB_API_ACCESS_TOKEN=your_token_here
export GITHUB_HOSTNAME=github.datapipe.net
export GITHUB_USER=your_username_here
export GITHUB_ORG=Automation
export GITHUB_REPO_TO_FORK=tf-example

gulp test

